/core/node_modules
/core/vendor
/core/public
/core/.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
web.config
.htaccess
index.php
/.idea
/.vscode
